In [7]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder # Transformam os dados de string para num√©ricos

In [2]:
# Create NumPy array
x = np.array([['Texas'], 
              ['California'], 
              ['Texas'], 
              ['Delaware'], 
              ['Texas']])

In [3]:
x

array([['Texas'],
       ['California'],
       ['Texas'],
       ['Delaware'],
       ['Texas']], dtype='<U10')

In [12]:
# Create LabelBinzarizer object
one_hot = OneHotEncoder()

# One-hot encode data
one_hot.fit_transform(x) # Pega a lista de strings e transforma numa matriz

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [8]:
print(one_hot.categories_)

[array(['California', 'Delaware', 'Texas'], dtype='<U10')]

In [11]:
print(x)

[['Texas']
 ['California']
 ['Texas']
 ['Delaware']
 ['Texas']]

In [10]:
pd.get_dummies(x[:,0])

   California  Delaware  Texas
0           0         0      1
1           1         0      0
2           0         0      1
3           0         1      0
4           0         0      1