In [1]:

from sklearn.datasets import load_iris # Carrega o banco iris
from sklearn.feature_selection import SelectKBest # Seleciona melhores dimensoes
from sklearn.feature_selection import f_classif # Tecnica para selecionar melhor dimensao

In [2]:
# Load iris data
iris = load_iris()

# Create features and target
X = iris.data
y = iris.target

In [3]:
# Create an SelectKBest object to select features with two best ANOVA F-Values
fvalue_selector = SelectKBest(f_classif, k=2)

# Apply the SelectKBest object to the features and target
X_kbest = fvalue_selector.fit_transform(X, y)

In [4]:
import pandas as pd
pd.DataFrame(X).head(5)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [5]:
import pandas as pd
pd.DataFrame(X_kbest).head(5)

     0    1
0  1.4  0.2
1  1.4  0.2
2  1.3  0.2
3  1.5  0.2
4  1.4  0.2

In [6]:
# Show results
print('Original number of features:', X.shape[1])
print('Reduced number of features:', X_kbest.shape[1])

Original number of features: 4
Reduced number of features: 2