In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
X = [[0, 1, 0],
     [0, 1, 1],
     [0, 1, 0],
     [0, 1, 1],
     [1, 0, 0]]

In [ ]:
import pandas as pd
pd.DataFrame(X)

   0  1  2
0  0  1  0
1  0  1  1
2  0  1  0
3  0  1  1
4  1  0  0

In [ ]:
thresholder = VarianceThreshold(threshold=(.75 * (1 - .75)))
thresholder.fit_transform(X)

array([[0],
       [1],
       [0],
       [1],
       [0]])